$chat-list-bg: #FFFFFF;
$chat-list-search: #F5F5F5;
$chat-list-text: #707991;

$chat-header-bg: #FFFFFF;
$chat-header-text: #011627;
$chat-header-text-gray: #707991;

$chat-item-active-bg: #F5F5F5;
$chat-item-text: #011627;
$chat-item-text-gray: #707991;
$chat-item-circle-text: #FFFFFF;
$chat-item-circle-bg: #78E378;

$chat-window-bg: #8BABD8;
$chat-window-time-bg:#3D70B899;
$chat-window-text-bg: #FFFFFF;
$chat-window-message-text: #011627;
$chat-window-message-left-bg: #FFFFFF;
$chat-window-message-right-bg: #78E378;
$chat-window-message-btn-bg: #FFFFFF;
$chat-window-message-btn-color:#707991;


